# Dependencies
node_modules/
package-lock.json.bak

# Build output
out/
dist/
release/
native/mano-hook/build/
native/mano-hook/prebuilds/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Env
.env
.env.local
.env.*.local

# Cache
.cache/
.eslintcache
.parcel-cache/

# TypeScript build info
*.tsbuildinfo
